<%= content_for :page_title, "Organisations" %>

<h1 class="govuk-heading-xl">Organisations</h1>

<% if current_user.present? && current_user["admin"] %>
  <%= render partial: "providers/search" %>
<% end %>

<ul class="govuk-list">
  <%= render partial: "providers/provider", collection: @providers %>
</ul>

<%= paginate @providers %>
