<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">UCAS Apply</span>
  GCSE requirements for&nbsp;applicants
</h1>

<p class="govuk-body">
  By law, all applicants need GCSE grade C/grade 4, or an equivalent, in English and maths - plus science for primary courses.
</p>

<p class="govuk-body">However, they may still apply if:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>they’re currently taking the GCSE</li>
  <li>they need to take an equivalency test (this proves they have the skills to start training)</li>
</ul>
<p class="govuk-body govuk-!-margin-bottom-8">
  Choose an option below to show how flexible you are towards these applicants.
</p>
