<% if @provider.accredited_body? %>
  <h2 class="govuk-heading-m">
    <%= link_to raw("Request PE courses for 2021&thinsp;–&thinsp;2022"),
                provider_recruitment_cycle_allocations_path(@provider.provider_code, year),
                class: "govuk-link",
                data: { qa: "request-allocations-link" } %>
  </h2>

  <p class="govuk-body">
    Only accredited bodies are able to see this section. Use it to request fee-funded PE courses
    (ones without a salary) for the next recruitment cycle.
  </p>

  <p class="govuk-body">This includes:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>your own courses</li>
    <li>courses you’re the accredited body for (you must request these on behalf of training partners)</li>
  </ul>
<% end %>
