<% if provider.accredited_body? %>
  <h2 class="govuk-heading-m">
    <%= govuk_link_to t("allocations_for_pe.#{Allocation.journey_mode}_state_link_text"),
                      provider_recruitment_cycle_allocations_path(provider.provider_code, year) %>
  </h2>

  <p class="govuk-body">
    <%= t("allocations_for_pe.#{Allocation.journey_mode}_state_copy") %>
  </p>

  <p class="govuk-body">This includes:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>your own courses</li>
    <li>courses you’re the accredited body for (you must request these on behalf of training partners)</li>
  </ul>
<% end %>
