<h2 class="govuk-heading-m"><%= link_to "Courses", provider_recruitment_cycle_courses_path(provider.provider_code, year), class: "govuk-link", data: { qa: 'provider__courses' } %></h2>
<p class="govuk-body">Use this section to:</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
  <li>write about each course</li>
  <li>preview and publish courses</li>
  <li>assign locations to a course</li>
  <li>copy content between courses</li>
</ul>
