<% if @provider.accredited_body? %>
  <h2 class="govuk-heading-m">
    <% if FeatureService.enabled?('new_publish.accredited_body_courses') %>
      <%= govuk_link_to "Courses as an accredited body", new_publish_url(training_providers_provider_recruitment_cycle_path(@provider.provider_code, year)) %>
    <% else %>
      <%= govuk_link_to "Courses as an accredited body", training_providers_provider_recruitment_cycle_path(@provider.provider_code, year) %>
    <% end %>
  </h2>

  <p class="govuk-body">Use this section to:</p>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
    <li>see who lists you as their accredited body</li>
    <li>see which courses you’re the accredited body for</li>
  </ul>
<% end %>
