<h2 class="govuk-heading-m"><%= link_to "Locations", provider_recruitment_cycle_sites_path(provider.provider_code, year), class: "govuk-link", data: { qa: 'provider__locations' } %></h2>
<p class="govuk-body">Use this section to:</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
  <li>edit location names and addresses</li>
  <li>add locations</li>
</ul>
