<%= content_for :page_title, "Request PE courses for 2021/22" %>
<%= content_for :before_content, render_breadcrumbs("allocations") %>

<h1 class="govuk-heading-xl">Request PE courses for 2021/22</h1>

<div class="govuk-grid-row add-top-margin">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">You need to request any fee-funded PE courses for 2021/22 by 10 July 2020. You do not need to request salaried PE courses.</p>
    <p class="govuk-body">Once you’ve made a request, you can change it before 10 July.</p>
  </div>
</div>
