<%= content_for :page_title, "Active users by organisation" %>

<h1 class="govuk-heading-l">
  Active users by organisation
</h1>

<table class="govuk-table" data-qa="organisation__table-section">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Organisation</th>
      <th class="govuk-table__header" scope="col">Users</th>
      <th class="govuk-table__header" scope="col">UCAS providers</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <%= render partial: "organisation", collection: @organisations %>
  </tbody>
</table>

<%= pagy_govuk_nav(@pagy).html_safe %>
