<p class="govuk-body">
  You’ll get a bursary of <%= course.bursary_amount %> if you have:
</p>

<% "TODO:Add list of requirements" %>

<p class="govuk-body">
  You don’t have to apply for a bursary - you’ll automatically start receiving it once you begin your course. Find out <%= link_to 'how you’ll be paid', 'https://getintoteaching.education.gov.uk/funding-and-salary/overview/how-you-will-be-paid', class: 'govuk-link' %>.
</p>
