<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-financial-support">Financial support</h2>

  <% if course.funding_type == 'salary' %>
    <%= render partial: 'courses/preview/financial_support/salaried' %>
  <% else %>
    <div class="govuk-inset-text">
      <p class="govuk-body">Bursaries, scholarships and financial support for 2020/21 will be announced soon.</p>
    </div>
  <% end %>

  <% if course.financial_support.present? %>
    <h3 class="govuk-heading-m">Financial support from the training provider</h3>
    <%= markdown(course.financial_support) %>
  <% end %>
</div>
