default: &default
  ASSETS_PRECOMPILE: true
  RAILS_SERVE_STATIC_FILES: true
  WEBPACKER_DEV_SERVER_HOST: "webpacker"
  SETTINGS__FEATURES__DFE_SIGNIN: true
  SETTINGS__FEATURES__SIGNIN_BY_EMAIL: false
  SETTINGS__FEATURES__SIGNIN_INTERCEPT: false
  SETTINGS__ROLLOVER: false
  SETTINGS__FEATURES__MAINTENANCE_MODE__ENABLED: false
  SETTINGS__FEATURES__MAINTENANCE_MODE__TITLE: "This service will be unavailable from Thursday 4 March at 17:00 to Friday 5 March at 09:00, while we carry out maintenance."
  SETTINGS__FEATURES__MAINTENANCE_MODE__BODY: "Find teacher training courses will still be available during this time. If you have any questions, contact us at becomingateacher@digital.education.gov.uk"

qa:
  <<: *default
  RAILS_ENV: qa
  RACK_ENV: qa

staging:
  <<: *default
  RAILS_ENV: staging
  RACK_ENV: staging

prod:
  <<: *default
  RAILS_ENV: production
  RACK_ENV: production

sandbox:
  <<: *default
  RAILS_ENV: sandbox
  RACK_ENV: sandbox

review:
  <<: *default
  RAILS_ENV: review
  RACK_ENV: review

rollover:
  <<: *default
  RAILS_ENV: rollover
  RACK_ENV: rollover
