<%= content_for :page_title, "Request Sent" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading" data-qa="page-heading">
          <span class="govuk-caption-xl">Manage notifications </span>
          Changes to courses as an accredited body
        </h1>
      </legend>

      <p class="govuk-body">
        Receive notifications about courses that you're the accredited body for.
        You'll be told about any new courses added and updated about changes to
        existing courses.
      </p>



    </fieldset>
  </div>
</div>
