<div style='position:relative; display:inline-block; padding-right: 1.25em; margin-right: 0.5em;'>
  <div style='position:absolute; top:2px; right:2px; size: small; color:#666; cursor:default;'
       title='Only visible to admins.'>
    🔒
  </div>
  <%= yield %>
</div>
