<% if @errors&.[](field)&.any? %>
  <span id="<%= field.to_s %>-error" class="govuk-error-message">
    <% @errors[field].each do |error| %>
      <div><span class="govuk-visually-hidden">Error:</span> <%= error %></div>
    <% end %>
  </span>
<% end %>
