
<div
  class="<%= cns("govuk-form-group", "govuk-form-group--error": @errors && @errors[:study_mode]&.any?) %>"
  data-qa="course__study_mode">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Full time or part time?
      </h1>
    </legend>

    <%= render "shared/error_messages", error_keys: [:study_modes] %>
    <div class="govuk-radios" data-module="govuk-radios">
      <% @course.meta['edit_options']['study_modes'].each do |value| %>
        <div class="govuk-radios__item">
          <%= form.radio_button :study_mode,
                  value,
                  class: 'govuk-radios__input' %>
          <%= form.label :study_mode,
                  t("edit_options.study_modes.#{value}.label"),
                  value: value,
                  class: 'govuk-label govuk-radios__label' %>
        </div>
      <% end %>
    </div>
  </fieldset>
</div>

