<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">New features</h1>

    <p class="govuk-body">
      We’ve recently added new features to further support accredited bodies.
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Courses as an accredited body</h2>

    <p class="govuk-body">
      In this section, you can see:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>who lists you as their accredited body</li>
      <li>which courses you’re the accredited body for</li>
    </ul>

    <p class="govuk-body">
      <a href="#" class="govuk-link">View this feature</a>
    </p>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Notifications</h2>

    <p class="govuk-body">
      Receive notifications about courses that you’re the accredited body for.
      You’ll be told about any new courses added and updated about changes to existing courses.
    </p>
    <p class="govuk-body">
      <%= link_to "Subscribe to notifications", notifications_path( start: true ), class:"govuk-link" %>
    </p>
  </div>
</div>
