<%= content_for :page_title, "Cookies" %>

<main role="main" class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Cookies</h1>
      <p class="govuk-body">‘Publish postgraduate teacher training courses’ puts small files (known as ‘cookies’) onto your computer to collect information about how you use the site.</p>

      <p class="govuk-body">Cookies are used to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>measure how you use the this service so it can be updated and improved based on your needs</li>
        <li>remember the notifications you’ve seen so that we don’t show them to you again</li>
        <li>remember who you are when you have logged in so we can show you your information and information relevant to you</li>
      </ul>

      <p class="govuk-body">‘Publish postgraduate teacher training courses’ cookies aren’t used to identify you personally.</p>
      <p class="govuk-body">Find out more about <a href="http://www.aboutcookies.org/" rel="external" class="govuk-link">how to manage cookies</a>.</p>

      <h2 class="govuk-heading-l">How we use cookies</h2>

      <h3 class="govuk-heading-m">Measuring website usage (Google Analytics)</h3>

      <p class="govuk-body">We use Google Analytics software to collect information about how you use ‘Publish postgraduate teacher training courses’. We do this to help make sure the site is meeting the needs of its users and to help us make improvements. </p>

      <p class="govuk-body">Google Analytics stores information about:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the pages you visit on ‘Publish postgraduate teacher training courses’</li>
        <li>how long you spend on each page</li>
        <li>how you got to the site</li>
        <li>what you click on while you’re visiting the site</li>
      </ul>

      <p class="govuk-body">We don’t allow Google to use or share our analytics data.</p>

      <p class="govuk-body">Google Analytics sets the following cookies:</p>

      <div class="body-text">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Name</th>
              <th class="govuk-table__header" scope="col">Purpose</th>
              <th class="govuk-table__header" scope="col">Expires</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell ">_ga</td>
              <td class="govuk-table__cell ">Used to distinguish anonymous users</td>
              <td class="govuk-table__cell ">2 years</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell ">_gid</td>
              <td class="govuk-table__cell ">Used to distinguish anonymous users</td>
              <td class="govuk-table__cell ">24 hours</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell ">_gat</td>
              <td class="govuk-table__cell ">Throttle requests</td>
              <td class="govuk-table__cell ">10 minutes</td>
            </tr>
          </tbody>
        </table>
      </div>

      <p class="govuk-body">You can opt out of <a href="https://tools.google.com/dlpage/gaoptout" rel="external">Google Analytics</a>.</p>

      <h3 class="govuk-heading-m">Our introductory message</h3>

      <p class="govuk-body">You may see a pop-up welcome message when you first visit ‘Publish postgraduate teacher training courses’. We’ll store a cookie so that your computer knows you’ve seen it and knows not to show it again.</p>

      <div class="body-text">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Name</th>
              <th class="govuk-table__header" scope="col">Purpose</th>
              <th class="govuk-table__header" scope="col">Expires</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell ">seen_cookie_message</td>
              <td class="govuk-table__cell ">Show cookie policy banner on first visit only</td>
              <td class="govuk-table__cell ">1 month</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h3 class="govuk-heading-m">
        Other cookies
      </h3>
      <p class="govuk-body">Other ‘Publish postgraduate teacher training courses’ cookies may include:</p>
      <div class="body-text">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Name</th>
              <th class="govuk-table__header" scope="col">Purpose</th>
              <th class="govuk-table__header" scope="col">Expires</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell "><span class="break-word">_publish_teacher_training_courses_session</span></td>
              <td class="govuk-table__cell ">Used to remember your identity when signed in</td>
              <td class="govuk-table__cell ">never</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
