<%= content_for :page_title, "Cookies" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Cookies</h1>
    <p class="govuk-body">‘Publish teacher training courses’ puts small files (known as ‘cookies’) onto your computer to collect information about how you use the site.</p>

    <p class="govuk-body">Cookies are used to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>remember who you are when you have logged in so we can show you your information and information relevant to you</li>
    </ul>

    <p class="govuk-body">‘Publish teacher training courses’ cookies aren’t used to identify you personally.</p>
    <p class="govuk-body">Find out more about <a href="http://www.aboutcookies.org/" rel="external" class="govuk-link">how to manage cookies</a>.</p>

    <h2 class="govuk-heading-l">How we use cookies</h2>
    <p class="govuk-body">‘Publish teacher training courses’ cookies may include:</p>
    <div class="body-text">
      <table class="govuk-table app-table--vertical-align-middle">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header" scope="col">Purpose</th>
            <th class="govuk-table__header" scope="col">Expires</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><span class="break-word">_publish_teacher_training_courses_session</span></td>
            <td class="govuk-table__cell ">Used to remember your identity when signed in</td>
            <td class="govuk-table__cell ">6 hours</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
