<%= content_for :page_title, "Home" %>

<% if current_user.present? %>
  <h1 class="govuk-heading-l">Welcome, <%= current_user['info']['first_name'] -%></h1>
<% end %>

<p class="govuk-body">Lorem</p>
