<%= content_for :page_title, "New features coming to Publish" %>

<h1 class="govuk-heading-xl">
  New features coming to Publish
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Here’s a list of new features we plan to introduce to Publish teacher training courses in the coming months. This list is only a guide and may change.</p>

    <h2 class="govuk-heading-l">Recently released</h2>

    <h3 class="govuk-heading-m">Rollover</h3>
    <p class="govuk-body">In July we rolled over your courses for the next cycle.</p>

    <p class="govuk-body">You can now:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>view your courses for the next cycle (2020 – 2021)</li>
      <li>edit their detailed descriptions (the content in 'About this course') and locations</li>
      <li>view their basic details</li>
    </ul>

    <h3 class="govuk-heading-m">Other features</h3>
    <p class="govuk-body">You can now:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>edit the UCAS Apply eligibility requirements for a course</li>
      <li>edit course vacancies (<a href="https://www.youtube.com/watch?v=nxmtXGy1cCY" class="govuk-link">Watch a video<span class="govuk-visually-hidden">of the edit vacancies feature</span></a>)</li>
      <li>edit a location name and address (<a href="https://www.youtube.com/watch?v=W_zhfemKiYM" class="govuk-link">Watch a video<span class="govuk-visually-hidden">of the assigning locations feature</span></a>)</li>
      <li>add a new location (<a href="https://www.youtube.com/watch?v=W_zhfemKiYM" class="govuk-link">Watch a video<span class="govuk-visually-hidden">of the assigning locations feature</span></a>)</li>
      <li>assign locations to a course (<a href="https://www.youtube.com/watch?v=W_zhfemKiYM" class="govuk-link">Watch a video<span class="govuk-visually-hidden">of the assigning locations feature</span></a>)</li>
      <li>edit course outcomes</li>
      <li>edit course age range</li>
      <li>edit course start date</li>
      <li>edit course application open date</li>
      <li>edit course full time or part time</li>
      <li>edit course <abbr class="app-text-decoration-underline-dotted" title="Special educational needs and disability">SEND</abbr> specialism</li>
      <li>request a new course using a Google Form </li>
    </ul>

    <h2 class="govuk-heading-l">August to September 2019</h2>

    <p class="govuk-body">You’ll be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>edit all additional course content</li>
      <li>add a new course</li>
    </ul>
  </div>
</div>
