<%= content_for :page_title, "New features coming to Publish" %>

<h1 class="govuk-heading-xl">
  New features coming to Publish
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Here’s a list of new features we plan to introduce to Publish teacher training courses in the coming months. This list is only a guide and may change.</p>

    <h2 class="govuk-heading-l">Recently released</h2>
    <p class="govuk-body">You can now:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>edit course vacancies (<a href="https://www.youtube.com/watch?v=nxmtXGy1cCY" class="govuk-link">Watch a video<span class="govuk-visually-hidden">of the edit vacancies feature</span></a>)</li>
      <li>edit a location name and address (<a href="https://www.youtube.com/watch?v=W_zhfemKiYM" class="govuk-link">Watch a video<span class="govuk-visually-hidden">of the assigning locations feature</span></a>)</li>
      <li>add a new location (<a href="https://www.youtube.com/watch?v=W_zhfemKiYM" class="govuk-link">Watch a video<span class="govuk-visually-hidden">of the assigning locations feature</span></a>)</li>
      <li>assign locations to a course (<a href="https://www.youtube.com/watch?v=W_zhfemKiYM" class="govuk-link">Watch a video<span class="govuk-visually-hidden">of the assigning locations feature</span></a>)</li>
      <li>request a new course using a Google Form </li>
    </ul>

    <h2 class="govuk-heading-l">July 2019</h2>
    <p class="govuk-body">In July we’ll roll over your courses. Once we’ve done this, you’ll be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>view your courses for the next cycle (2020/21)</li>
      <li>edit the contents of those courses</li>
      <li>review their basic details</li>
      <li>special educational needs and disabilities (SEND) information</li>
    </ul>

    <h2 class="govuk-heading-l">August to September 2019</h2>
    <p class="govuk-body">You’ll be able to edit all the basic details of your 2020/21 courses, including:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the UCAS Apply eligibility requirements</li>
      <li>the course outcomes</li>
      <li>the age range</li>
    </ul>

    <p class="govuk-body">You’ll also be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>edit all additional course content</li>
      <li>add a new course</li>
    </ul>
  </div>
</div>
