<%= content_for :page_title, "Get notifications about your courses" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Get notifications about your courses</h1>

    <p class="govuk-body">
      You can now sign up for email notifications about courses that you're the accredited body for.
    </p>
    <p class="govuk-body">
      We'll tell you when a training provider:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>publishes a new course on Find postgraduate teacher training</li>
      <li>makes a change to an existing course </li>
    </ul>
    <p class="govuk-body">
      <%= link_to "Sign up for notifications", notifications_path( start: true ), class:"govuk-button govuk-!-margin-bottom-0" %>
    </p>
    <p class="govuk-body">
      or
    </p>
    <%= form_for :user, url: accept_notifications_info_path, method: :patch do |f| %>
      <%= f.submit "Continue", class: "govuk-button", data: { qa: 'rollover__continue' } %>
    <% end %>
  </div>
</div>
