<%= content_for :page_title, "Service performance" %>

<h1 class="govuk-heading-xl">
  Service performance
</h1>

<%= render partial: "pages/performance_dashboard/initial_performance_indicators" %>
  </div>
</div>
