<%= content_for :page_title, "Begin preparing for the next cycle" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Begin preparing for the next cycle</h1>
    <p class="govuk-body">All your courses, locations and details have been rolled over from the current cycle. You can now update them for the next recruitment cycle (2020 – 2021).</p>
    <p class="govuk-body">You can:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>prepare your course descriptions</li>
      <li>request new courses for the next cycle</li>
      <li>delete courses you’re no longer running</li>
    </ul>

    <%= form_for :user, url: accept_rollover_path, method: :patch do |f| %>
      <%= f.submit "Continue", class: "govuk-button", data: { qa: 'rollover__continue' } %>
    <% end %>
  </div>
</div>
