<%= content_for :page_title, "Requesting permission to recruit for the 2022 to 2023 cycle" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Requesting permission to recruit for the <br>2022 to 2023 cycle
    </h1>

    <p class="govuk-body">
      You are now able to request permission to recruit for fee-funded PE for the 2022 to 2023 cycle.
      You do not need to request permission to recruit in Publish for any courses other than fee-funded PE.
      Accredited bodies should request fee-funded PE by 2 July 2021.
    </p>

    <%= form_for :user, url: accept_rollover_path, method: :patch do |f| %>
      <%= f.submit "Continue", class: "govuk-button" %>
    <% end %>
  </div>
</div>
