<%= content_for :page_title, "Recruiting for the 2021 to 2022 cycle" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Recruiting for the <br>2021 to 2022 cycle
    </h1>

    <p class="govuk-body">
      You do not need to request permission to recruit for any courses other than
      fee-funded PE. Accredited bodies should request fee-funded PE by 10 July 2020.
    </p>

    <p class="govuk-body">
      You can publish all other courses without requesting permission. This applies
      to courses copied over from the current cycle and new courses added for 2021 to 2022.
    </p>

    <%= form_for :user, url: accept_rollover_path, method: :patch do |f| %>
      <%= f.submit "Continue", class: "govuk-button" %>
    <% end %>
  </div>
</div>
