<%= content_for :page_title, "Prepare for the next cycle" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Prepare for the next cycle
    </h1>

    <p class="govuk-body">
      All your courses, locations and details have been copied over
      from the current recruitment cycle (2020 to 2021). You can now
      update them for 2021 – 2022.
    </p>

    <p class="govuk-body">You should:</p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>add any new courses</li>
      <li>delete courses you're no longer running</li>
      <li>edit titles, outcomes and locations where necessary</li>
    </ul>

    <%= link_to "Continue", rollover_recruitment_path,  class: "govuk-button" %>
  </div>
</div>
