<%= content_for :page_title, "Prepare for the next cycle" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Prepare for the next cycle
    </h1>

    <p class="govuk-body">
      Courses for the next cycle (<%= next_recruitment_cycle_period_text %>) will be published on 1 September 2021.
    </p>
    <p class="govuk-body">
      Your courses, locations and organisation details have been copied from the current cycle.
    </p>

    <h2 class="govuk-heading-m">What you need to do</h2>

    <p class="govuk-body">
      Before you can publish courses for the next cycle, you'll need to confirm:
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
      <li>degree requirements</li>
      <li>GCSE requirements</li>
      <li>if you can sponsor visas</li>
    </ul>

    <p class="govuk-body">
      You can also add, edit or delete courses and locations.
    </p>

    <%= form_for :user, url: accept_rollover_path, method: :patch do |f| %>
      <%= f.submit "Continue", class: "govuk-button" %>
    <% end %>
  </div>
</div>
