<% content_for :page_title, "New features" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Important new features</h1>
    <p class="govuk-body">You now have access to new features, allowing you to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>create new courses</li>
      <li>add and edit your locations</li>
      <li>update the vacancy status of courses</li>
      <li>edit course details (eg titles, outcomes, and fee or salary status)</li>
    </ul>

    <h2 class="govuk-heading-m">Stop using UCAS to manage your courses</h2>

    <p class="govuk-body">You can no longer use UCAS to add or edit courses. All course management must now be done in this service.</p>

    <p class="govuk-body">You’ll still need to use UCAS to view and manage course applications. This is because candidates will continue to apply for courses through UCAS.</p>

    <%= govuk_button_to "Continue", accept_transition_info_path, method: :patch, data: { qa: "transition__continue" } %>
  </div>
</div>
