<%= content_for :page_title, "You are not permitted to see this page" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You are not permitted to see this page</h1>
    <p class="govuk-body">This page is restricted to certain users only.</p>
    <p class="govuk-body">
      <%= mail_to "becomingateacher@digital.education.gov.uk", "Contact us by email to request access to your organisation", subject: "Publish teacher training courses access request", class: "govuk-link" %>
    </p>
  </div>
</div>
