<%= content_for :page_title, "Page not available" %>

<div class="govuk-grid-row" data-qa="errors__unauthorized">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Page not available</h1>
    <!-- users should never see this page, if they do it's because sign-in failed for some reason -->
    <p class="govuk-body">If you are seeing this, something went wrong and we can't identify you.
      Please try to log in again.</p>
    <p class="govuk-body">If the problem persists,
   <%= bat_contact_mail_to "contact us by email", subject: "Publish teacher training login failure" %></p>
  </div>
</div>
