<h3 class="govuk-heading-l" id="section-advice">Support and advice</h3>
<p class="govuk-body">For questions about this course you should contact the training provider using <a href="#contact_section">the contact details above</a>.</p>

<h4 class="govuk-heading-m">Get support and advice about teaching</h4>
<p class="govuk-body">Register with <a href="https://getintoteaching.education.gov.uk/user/register">Get into Teaching</a>, the Department for Education’s free support and advice service, for personalised guidance from teaching experts. They can help you to prepare your application, book school experience, and access exclusive teaching events. You can also call them free on 0800 389 2500, or speak to an adviser using their <a href="https://ta-chat.education.gov.uk/chat/chatstart.aspx?domain=www.education.gov.uk&department=GetIntoTeaching%27,%27new_win%27,%27width=0,height=0%27);return%20false;%22&SID=1">online chat service</a>, from 8am to 8pm, Monday to Friday.</p>

<h4 class="govuk-heading-m">Website support</h4>
<p class="govuk-body">If you have feedback or have had a problem using Find postgraduate teacher training you can <a href="mailto:becomingateacher@digital.education.gov.uk">contact us by email</a>.</p>

<h4 class="govuk-heading-m">Is there something wrong with this page?</h4>
<p class="govuk-body">If there is something wrong with this course listing, <a href="mailto:becomingateacher@digital.education.gov.uk?subject=Problem report for @Model.Course.Provider.ProviderCode/@Model.Course.ProgrammeCode">contact us by email</a>.</p>
