<div class="govuk-tag phase-tag--small <%= course_content_tag_css_class(course) %>">
  <%= course_content_tag_content(course) %>
</div>

<% if course_has_unpublished_changes(course) %>
  <div class="govuk-body govuk-body-s govuk-!-margin-0">* Unpublished changes</div>
<% end %>
