<%= content_for :page_title, "Vacancies" %>

<%= manage_ui_link_to "Back", "/organisation/#{params[:provider_code]}/courses/#{@course[:course_code]}", class: "govuk-back-link" %>

<main role="main" class="govuk-main-wrapper" id="main-content">
  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl"><%= @course[:name] %> (<%= @course[:course_code] %>)</span>
    Edit vacancies
  </h1>
</main>
