<%= content_for :page_title, "Are you sure you want to withdraw #{course.name_and_code})?" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= course.name_and_code %></span>
      Are you sure you want to withdraw this course?
    </h1>

    <p class="govuk-body">Withdrawing this course will:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>immediately remove it from Find</li>
      <li>close applications for it (this happens on UCAS Apply within 2 hours)</li>
    </ul>

    <p class="govuk-body">Once you’ve withdrawn a course, you can’t publish it again this cycle.</p>

    <h2 class="govuk-heading-m">Contact support to withdraw this course</h2>

    <p class="govuk-body">Contact the <%= bat_contact_mail_to 'Becoming a teacher team', subject: "Withdraw #{course.name} (#{@provider_code}/#{course.course_code})" %> by email to withdraw this course.</p>

    <p class="govuk-body">In your email include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>course code</li>
      <li>course title</li>
      <li>a reason why this course needs to be withdrawn</li>
    </ul>
  </div>
</div>
