.admin-only {
  position: relative;
  display: inline-block;
  padding-right: 1.25em;
  margin-right: 0.5em;

  .admin-icon {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: default;
  }
}
