// TODO: Remove these styles once currency inputs are using GOVUKDesignSystemFormBuilder
// which supports using Prefixes and suffixes
// See: https://design-system.service.gov.uk/components/text-input/#prefixes-and-suffixes
.app-currency-input {
  &__inner {
    position: relative;

    &__unit {
      @include govuk-font($size: 19, $weight: bold);
      bottom: 7px;
      left: 10px;
      position: absolute;
    }

    &__input {
      padding-left: 25px;
    }
  }
}
