.app-tag--development {
  background: govuk-colour("dark-grey");
}

.app-tag--qa {
  background: govuk-colour("orange");
}

.app-tag--review {
  background: govuk-colour("purple");
}

.app-tag--staging {
  background: govuk-colour("red");
}

.app-tag--sandbox {
  background: govuk-colour("purple");
}

.govuk-header__container {
  .app-header--development & {
    border-bottom-color: govuk-colour("dark-grey");
  }

  .app-header--qa & {
    border-bottom-color: govuk-colour("orange");
  }

  .app-header--review & {
    border-bottom-color: govuk-colour("purple");
  }

  .app-header--staging & {
    border-bottom-color: govuk-colour("red");
  }

  .app-header--sandbox & {
    border-bottom-color: govuk-colour("purple");
  }
}
