.phase-tag {
  &--no-content {
    background: govuk-colour("white");
    border: 2px solid lighten(govuk-colour("dark-grey"), 10%);
    color: govuk-colour("dark-grey");
    margin-bottom: -1px;
    margin-top: -1px;
  }

  &--not-running {
    background: govuk-colour("light-grey");
    color: govuk-colour("black");
    margin-bottom: -1px;
    margin-top: -1px;
  }

  &--draft {
    background: govuk-colour("orange");
  }

  &--published {
    background: $button-colour;
  }
}
