.app-related {
  background-color: govuk-colour("light-grey");
  padding: govuk-spacing(4);

  .govuk-select {
    background: govuk-colour("white");
  }

  // Add a 1px solid border around tags which match colour of the text
  .govuk-tag--grey {
    border: 1px solid govuk-shade(govuk-colour("dark-grey", $legacy: "grey-1"), 30);
  }

  .govuk-tag--yellow {
    border: 1px solid govuk-shade(govuk-colour("yellow"), 65);
  }

  .govuk-tag--red {
    border: 1px solid govuk-shade(govuk-colour("red"), 30);
  }

  .govuk-tag--green {
    border: 1px solid govuk-shade(govuk-colour("green"), 20);
  }
}
