@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

$git-brand-colour: #159964;

@import "~govuk-frontend/govuk/all";

@import "advice";
@import "card";
@import "currency-input";
@import "notification-banner";
@import "description-list";
@import "header";
@import "list";
@import "map";
@import "missing-section";
@import "pagination";
@import "summary-list";
@import "table";
@import "tabs";
@import "status-box";
@import "link";

// Override utilities
@import "overrides";

// Fixes <wbr> in IE9
// https://stackoverflow.com/a/23759279
wbr:after {
  content: "\00200B";
}
