$success-green: #00823b;
@import "../../../node_modules/govuk-frontend/all";

// Not in design system:
$button-colour: #00823b;

@import "cookie-banner";
@import "flash";
@import "phase-tag";

.text-decoration-underline-dotted {
  text-decoration: underline dotted;
}

.course-table {
  &__course-name {
    width: 33%;
  }
}
