$success-green: #00823b;
@import "../../../node_modules/govuk-frontend/all";

// Not in design system:
$button-colour: #00823b;

@import "cookie-banner";
@import "success-summary";
@import "phase-tag";
@import "course-tabs";
@import "currency-input";
@import "warning-summary";

.text-decoration-underline-dotted {
  text-decoration: underline dotted;
}

.course-table {
  &__course-name {
    width: 33%;
  }
}

.related {
  border-top: 5px solid govuk-colour("blue");
  background-color: govuk-colour("grey-4");
  padding: govuk-spacing(4);

  .govuk-select {
    background: govuk-colour("white");
  }
}

.courses-locations-list li:last-child {
  margin-bottom: 0;
}

.status-box {
  background-color: govuk-colour("grey-4");
  padding: govuk-spacing(4);
}

.govuk-summary-list--short {
  margin-bottom: govuk-spacing(8);
  margin-top: govuk-spacing(6);

  .govuk-summary-list__key,
  .govuk-summary-list__value {
    width: 50%;
  }
}

.govuk-summary-list__value--truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 295px;
}

.course-parts__fields__value--empty {
  color: govuk-colour("grey-1");
}

.govuk-link--destructive {
  color: $govuk-error-colour;
}

.course-parts__fields__label--error {
  color: $govuk-error-colour;
  border-left: govuk-spacing(1) solid $govuk-error-colour;
  padding-left: govuk-spacing(2);
  padding-top: govuk-spacing(1);
}
