.cookie-banner {
  @include govuk-font(16);
  @include govuk-text-colour;
  background-color: lighten(desaturate(govuk-colour("light-blue"), 8.46), 42.55);
  box-sizing: border-box;
  display: none;
  padding-top: govuk-spacing(3);
  padding-right: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);
  padding-left: govuk-spacing(3);
  width: 100%;

  &__message {
    @include govuk-width-container;
    margin: 0;
  }
}

@include govuk-media-query($media-type: print) {
  .cookie-banner {
    display: none !important;
  }
}
