<%= render GovukComponent::Details.new(summary: "PGCE") do %>
  <p class="govuk-body">
    A postgraduate certificate in education (PGCE) is recognised internationally.
    This course does not lead to the award of qualified teacher status (QTS).
  </p>
<% end %>
