<%= render GovukComponent::Details.new(summary: "PGDE with QTS") do %>
  <p class="govuk-body">
    A postgraduate diploma in education (PGDE) with qualified teacher status (QTS) allows you to
    teach in England, Scotland, Wales and Northern Ireland. It&rsquo;s also recognised internationally.
    PGDE courses include credits that count toward a Master&rsquo;s degree.
  </p>
<% end %>
