<%= render GovukComponent::Details.new(summary: "PGDE") do %>
  <p class="govuk-body">
    A postgraduate diploma in education (PGDE) is recognised internationally.
    This course does not lead to the award of qualified teacher status (QTS).
  </p>
<% end %>
