<h3 class="govuk-heading-m">
  PE Requests for 2021 – 2022
</h3>
<%= render partial: "pages/performance_dashboard/allocation_content", locals: { recruitment_cycle: "current" }%>
<h3 class="govuk-heading-m">
  PE Requests for 2020 – 2021
</h3>
<%= render partial: "pages/performance_dashboard/allocation_content", locals: { recruitment_cycle: "previous" }%>
