<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <div class="app-performance-dashboard app-performance-dashboard--secondary">
      <div class="app-performance-dashboard__title">
        <%= @performance_data.total_providers %>
      </div>
      requests
    </div>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <div class="app-performance-dashboard app-performance-dashboard--secondary">
      <div class="app-performance-dashboard__title">
        <%= @performance_data.total_providers %>
      </div>
      number of places
    </div>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <div class="app-performance-dashboard app-performance-dashboard--secondary">
      <div class="app-performance-dashboard__title">
        <%= @performance_data.total_providers %>
      </div>
      accredited bodies
    </div>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <div class="app-performance-dashboard app-performance-dashboard--secondary">
      <div class="app-performance-dashboard__title">
        <%= @performance_data.total_providers %>
      </div>
      providers
    </div>
  </div>
</div>
