<h2 class="govuk-heading-l">
  Courses
</h2>

<div class="govuk-grid-row govuk-!-margin-bottom-3">
  <div class="govuk-grid-column-full">
    <div class="app-performance-dashboard app-performance-dashboard--primary">
      <div class="app-performance-dashboard__title">
        <%= @performance_data.total_providers %>
      </div>
      courses listed in Find
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="app-performance-dashboard app-performance-dashboard--green">
      <div class="app-performance-dashboard__title">
        <%= @performance_data.providers_published_courses %>
      </div>
      open courses
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="app-performance-dashboard app-performance-dashboard--red">
      <div class="app-performance-dashboard__title">
        <%= @performance_data.providers_unpublished_courses %>
      </div>
      closed courses
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="app-performance-dashboard app-performance-dashboard--secondary">
      <div class="app-performance-dashboard__title">
        <%= @performance_data.providers_accredited_bodies %>
      </div>
      draft courses
    </div>
  </div>
</div>
