<h2 class="govuk-heading-l">Users</h2>

<div class="govuk-grid-row govuk-!-margin-bottom-1">
  <div class="govuk-grid-column-full">
    <div class="app-performance-dashboard app-performance-dashboard--primary">
      <div class="app-performance-dashboard__title">
        <%= @performance_data.total_users %>
      </div>
      registered
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="app-performance-dashboard app-performance-dashboard--green">
      <div class="app-performance-dashboard__title--small">
        <%= @performance_data.users_active %>
      </div>
      active
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="app-performance-dashboard app-performance-dashboard--red">
      <div class="app-performance-dashboard__title--small">
        <%= @performance_data.users_not_active %>
      </div>
      not active
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="app-performance-dashboard app-performance-dashboard--secondary">
      <div class="app-performance-dashboard__title--small">
        <%= @performance_data.users_active_30_days %>
      </div>
      active in the last 30 days
    </div>
  </div>
</div>
